<div class="hidden sm:block fixed top-4 left-4 bottom-4">
    <nav class="text-sm text-medium flex flex-col gap-y-4 h-full shadow-main rounded-lg bg-white py-3 border border-gray-200">
        <div>
            <a href="{{ path('index') }}"
                class="text-lg font-semibold my-3 flex gap-x-3 items-center mx-6">
                <svg xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-alarm-clock bg-black stroke-white p-1.5 h-8 w-8 rounded-full">
                    <circle cx="12" cy="13" r="8" />
                    <path d="M12 9v4l2 2" />
                    <path d="M5 3 2 6" />
                    <path d="m22 6-3-3" />
                    <path d="M6.38 18.7 4 21" />
                    <path d="M17.64 18.67 20 21" />
                </svg>Time Manager
            </a>
        </div>
        <div class="flex-1 border-t border-t-gray-200 pt-3">
            <twig:SidebarLink link="index">
                <twig:ux:icon name="lucide:home" class="h-5 w-5" />Home
            </twig:SidebarLink>
            <twig:SidebarLink link="app_submission_new"
                highlightRoutes="app_submission_new, app_submission_edit">
                <twig:ux:icon name="lucide:file-text" class="h-5 w-5" />Submit
            </twig:SidebarLink>
            <twig:SidebarLink link="about">
                <twig:ux:icon name="lucide:info" class="h-5 w-5" />About
            </twig:SidebarLink>
            <twig:SidebarLink link="app_progress">
                <twig:ux:icon name="lucide:loader"
                    class="h-5 w-5 animate-spin" />Progress
            </twig:SidebarLink>
        </div>
        <div class="pt-3 border-t border-t-gray-200 flex flex-col flex-shrink-0">
            {% if app.user %}
                <twig:SidebarLink link="app_profile">
                    <twig:ux:icon name="lucide:user" class="h-5 w-5" />Profile
                </twig:SidebarLink>
                <twig:SidebarLink link="app_logout" data-turbo-prefetch="false">
                    <twig:ux:icon name="lucide:log-out" class="h-5 w-5" />Logout
                </twig:SidebarLink>
            {% else %}
                <twig:SidebarLink link="app_login">
                    <twig:ux:icon name="lucide:user" class="h-5 w-5" />Login
                </twig:SidebarLink>
            {% endif %}
        </div>
    </nav>
</div>
