{% extends 'base.html.twig' %}

{% block body %}
	<div class="mx-auto max-w-4xl p-4 sm:px-6 lg:px-8 sm:text-sm">
        <div>
            <h1 class="text-2xl my-8">About</h1>
        </div>
		<div class="leading-7">
		    This will be a time management application for businesses. It will optimally connect to their services, or they can use it
		    themselves. It will provide an api for them.
		</div>
	</div>
{% endblock %}


{% block body_background %}
	bg-fuchsia-50
{% endblock %}

