{% set current = app.request.get('_route') %}

{% if highlightRoutes == '' %}
    {% set active = link == current %}
{% else %}
    {% set active = current in (highlightRoutes|replace({ ' ': '' })|split(','))
    %}
{% endif %}

{% set activeClasses = active
    ? 'text-blue-600 hover:text-blue-700'
    : 'text-black hover:text-gray-600'
%}

<a href="{{ path(link) }}"
    class="{{ [
        'px-6 py-3 relative text-sm flex gap-x-2 items-center',
        activeClasses,
        attributes.render('class')
    ]|tailwind_merge }}"
    {{ attributes }}>
    {%- block content -%}{%- endblock -%}
    {% if active %}
        <span class="absolute inset-y-1 left-0 w-px bg-gradient-to-b from-blue-600/0 via-blue-600/50 to-blue-600/0 dark:from-teal-400/0 dark:via-teal-400/40 dark:to-teal-400/0 nav-highlight">

        </span>
    {% endif %}
</a>
